.bottom-panel 
  margin-top: 20px
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;

  position: sticky;
  top: 0;
  bottom: 0
  
  .new-post-label 
      flex-grow: 1
      margin-right: 3px

